<p-toast></p-toast>
<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="!isLoading" class="p-fluid p-formgrid p-grid p-p-3" [ngClass]="!app.isMobile ? 'f-bg-loginpages' : 'login-bgcolor'" style="height: 100vh">
  <div class="p-col-12 p-sm-12 p-md-8 p-lg-5 p-text-center p-m-auto">
    <div class="card">
      <div class="pages-header p-px-3 p-py-1 p-border-0" style="border: 0px; margin-top: -4rem !important">
        <img style="height: 80px; width: 80px" src="/assets/img/logo-whitebg.png" />
      </div>

      <div *ngIf="formSubmitted" class="input-panel p-d-flex p-flex-column p-px-3">
        <p-message *ngIf="!apiError && showSuccess" class="p-p-4 p-m-2" severity="info" text="Your password has been set.  Please go to Sign in now">
        </p-message>

        <p-message *ngIf="apiError" class="p-p-4 p-m-2" severity="warning" text="Your password failed to reset. Please contact help."> </p-message>

        <div class="p-col-12 p-mt-3">
          <a href="" routerLink="/login" class="small-boy"> <i class="fas fa-chevron-left"></i> Back to Sign in </a>
        </div>
      </div>

      <div *ngIf="!formSubmitted" class="input-panel p-d-flex p-flex-column p-px-3">
        <div class="p-col-12 p-ml-auto p-mr-auto p-text-center p-mb-3" style="border-bottom: 1px solid grey">
          <h3 class="p-mb-3">Reset Password</h3>
        </div>
        <div class="p-col-10 p-ml-auto p-mr-auto p-text-center p-mb-5">
          <p class="f-text-muted">Set a new password.</p>
        </div>
        <form role="form" [autocomplete]="true" [formGroup]="form" (submit)="onProcessRegisterForm()">
          <div class="p-fluid p-formgrid p-grid ml-auto mr-auto p-jc-center">
            <div *ngIf="!formIsLoading" class="p-col-10 p-col-md-6 p-col-lg-4 p-col-xl-4 p-text-left">
              <label for="passwordInput" style="color: #b3b3b3; font-size: 12px">New Password</label>
              <span class="p-float-label">
                <p-password
                  pInputPassword
                  mediumRegex="^(?=.*[a-z])(?=.*[0-9])(?=.{6,})"
                  strongRegex="^(?=.*[a-z])(?=.*[0-9])(?=.{6,})"
                  [ngClass]="{
                    'ng-invalid': form.get('password').invalid,
                    'ng-dirty': form.get('password').invalid
                  }"
                  [toggleMask]="true"
                  styleClass="p-mt-2 f-height-inputs-pass"
                  formControlName="password"
                  name="password"
                  id="password"
                  [feedback]="false"
                  inputId="passwordInput"
                  [placeholder]="'********'"
                >
                </p-password>
              </span>

              <small *ngIf="form.get('password').invalid && form.get('password').touched" id="username5-help" class="p-error">Password is Invalid.</small>
            </div>
            <div *ngIf="!formIsLoading" class="p-col-10 p-col-md-6 p-col-lg-4 p-col-xl-4 p-text-left p-mt-4">
              <label for="passwordInput" style="color: #b3b3b3; font-size: 12px">Repeat New Password</label>
              <span class="p-float-label">
                <p-password
                  pInputPassword
                  mediumRegex="^(?=.*[a-z])(?=.*[0-9])(?=.{6,})"
                  strongRegex="^(?=.*[a-z])(?=.*[0-9])(?=.{6,})"
                  [ngClass]="{
                    'ng-invalid': form.get('password2').invalid,
                    'ng-dirty': form.get('password2').invalid
                  }"
                  [toggleMask]="true"
                  styleClass="p-mt-2 f-height-inputs-pass"
                  formControlName="password2"
                  name="password2"
                  id="password2"
                  [feedback]="false"
                  inputId="passwordInput"
                  [placeholder]="'********'"
                >
                </p-password>
              </span>

              <small *ngIf="form.get('password2').invalid && form.get('password2').touched" id="username5-help" class="p-error">Password is Invalid.</small>
            </div>
          </div>

          <div *ngIf="formSubmitted && form.invalid" class="p-col-10 p-m-auto p-alert p-alert-danger p-text-center">
            The form is invalid. Please check the errors above and try again.
          </div>
          <div class="p-col-10 p-mt-3 p-md-12 p-ml-auto p-mr-auto p-text-center">
            <button
              pButton
              pRipple
              [ngStyle]="{
                width: app.isMobile ? '100%' : '85%',
                'text-align': 'center'
              }"
              type="submit"
              label="Submit"
              class="p-button p-button-primary p-button-large p-p-3"
              [disabled]="form.invalid || formSubmitted"
              [ngClass]="{
                'p-button-error': form.invalid || !recaptchaValid,
                'p-button-primary': form.valid
              }"
            ></button>
          </div>
          <div class="p-col-12 p-mt-3 p-mb-3" *ngIf="showSuccess">
            <p class="f-text-success"><i class="fas fa-check-circle"></i> Successfully Reset Password</p>
          </div>
          <div class="p-col-12 p-mt-3">
            <a href="" routerLink="/login" class="small-boy"> <i class="fas fa-chevron-left"></i> Back to Sign in </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
