<p-toast></p-toast>
<app-spinner *ngIf="isLoading"></app-spinner>

<div
  *ngIf="!isLoading"
  class="p-fluid p-formgrid p-grid p-p-3"
  [ngClass]="!app.isMobile ? 'f-bg-loginpages' : 'login-bgcolor'"
  style="height: 100vh; width: 100vw"
>
  <div class="p-col-12 p-sm-12 p-md-8 p-lg-5 p-text-center p-m-auto">
    <div class="card">
      <div class="pages-header p-px-3 p-py-1 p-border-0" style="border: 0px; margin-top: -4rem !important">
        <img style="height: 80px; width: 80px" src="/assets/img/logo-whitebg.png" />
      </div>

      <div *ngIf="linkSent" class="input-panel p-d-flex p-flex-column p-px-3">
        <p-message
          class="p-p-4 p-m-2"
          severity="info"
          text="If the Email address you entered was found, an e-mail has
                    been sent to you with instructions on how to reset your
                    password. Ensure nobody@echelonfit.com is whitelisted in
                    your inbox, or check your SPAM/Junk mail if you do not see
                    the e-mail in your inbox."
        >
        </p-message>

        <div class="p-col-12 p-mt-3">
          <a href="" routerLink="/login" class="small-boy"> <i class="fas fa-chevron-left"></i> Back to Sign in </a>
        </div>
      </div>
      <div *ngIf="!linkSent" class="input-panel p-d-flex p-flex-column p-px-3">
        <div class="p-col-12 p-ml-auto p-mr-auto p-text-center p-mb-3" style="border-bottom: 1px solid grey">
          <h3 class="p-mb-3">Forgot password?</h3>
        </div>
        <div class="p-col-10 p-ml-auto p-mr-auto p-text-center p-mb-5">
          <p class="f-text-muted">Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
        </div>
        <form role="form" [autocomplete]="true" [formGroup]="form" (submit)="onProcessForgotForm()">
          <div class="p-fluid p-formgrid p-grid ml-auto mr-auto p-jc-center">
            <div *ngIf="!formIsLoading" class="p-field p-col-10 p-text-left">
              <label for="customerEmail" style="color: #b3b3b3; font-size: 12px">Email</label>
              <span class="p-float-label">
                <input
                  pInputText
                  placeholder="email@example.com"
                  type="email"
                  formControlName="customerEmail"
                  id="customerEmail"
                  name="customerEmail"
                  aria-describedby="Email Address"
                  [ngClass]="{
                    'ng-invalid': form.get('customerEmail').invalid,
                    'ng-dirty': form.get('customerEmail').invalid
                  }"
                  class="f-height-inputs"
                />
              </span>

              <small *ngIf="form.get('customerEmail').invalid && form.get('customerEmail').touched" id="username4-help" class="p-error"
                >Email is required.</small
              >
            </div>
          </div>

          <div *ngIf="formSubmitted && form.invalid" class="p-col-10 p-m-auto p-alert p-alert-danger p-text-center">
            The form is invalid. Please check the errors above and try again.
          </div>
          <div class="p-col-10 p-mt-3 p-md-12 p-ml-auto p-mr-auto p-text-center">
            <button
              pButton
              pRipple
              [ngStyle]="{
                width: app.isMobile ? '100%' : '85%',
                'text-align': 'center'
              }"
              type="submit"
              label="Submit"
              class="p-button p-button-primary p-button-large p-p-3"
              [disabled]="form.invalid || formSubmitted"
              [ngClass]="{
                'p-button-error': form.invalid || !recaptchaValid,
                'p-button-primary': form.valid
              }"
            ></button>
          </div>
          <div class="p-col-12 p-mt-3 p-mb-3" *ngIf="showSuccess">
            <p class="f-text-success"><i class="fas fa-check-circle"></i> Successfully Sent</p>
          </div>
          <div class="p-col-12 p-mt-3">
            <a href="" routerLink="/login" class="small-boy"> <i class="fas fa-chevron-left"></i> Back to Sign in </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
